@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*-------------------------MQ GRANDE-------------------*/
.fondo {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    background: #757CA7;
}
/*-------------------------MQ GRANDE-------------------*/
@media screen and (min-width: 1001px){
h1{
font-family: 'Kalnia', serif;
text-align: center;
font-size: 500%;
}
.catalogo{
    margin: 10px 5px 0px 5px;
    display: flex;
}
.imagen{
    width: 40%;
    height: auto;
    margin: 0px 1px 0px 100px;
}
.catalogo img{
    margin: 25px 0 0 100px;
    width: 80%;
    height: auto;
    border-radius: 50px;
}
.texto{
    width: 40%;
    margin: 0px 150px 0 1px;
    font-family: 'Montserrat', sans-serif;
}
.t1{
    font-size: 300%;
}
.t2{
    display: inline;
    padding: 5px;
    font-size: 150%;
    background: rgb(128, 128, 128, 0.5);
    color: white;
    border-radius: 50px;
}
.t3{
    font-size: 200%;
}
.t4{
    font-size: 200%;
}
.t5{
    float: none;
    margin-left: 39%;
    margin-right: 44%;
    padding: 10px;
    font-size: 200%;
    background: #757CA7;
    color: white;
    border-radius: 50px;
}
.t6{
    font-size: 100%;
    text-align: center;
}}
/*-------------------------MQ MEDIANA-------------------*/
@media screen and (min-width: 577px) and (max-width: 1000px){
    h1{
        font-family: 'Kalnia', serif;
        font-size: 300%;
        text-align: center;
    }
    .catalogo img{
    margin: 25px 0 0 10%;
    width: 80%;
    height: auto;
    border-radius: 50px;
    }
    .texto{
    width: 100%;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    }
    .t1{
        font-size: 200%;
        text-align: center;
    }
    .t2{
        display: inline;
        padding: 5px;
        font-size: 150%;
        background: rgb(128, 128, 128, 0.5);
        color: white;
        border-radius: 50px;
    }
    .t3{
        font-size: 100%;
    }
    .t4{
        font-size: 100%;
    }
    .t5{
        float: none;
        margin-left: 39%;
        margin-right: 44%;
        padding: 10px;
        font-size: 200%;
        background: #757CA7;
        color: white;
        border-radius: 50px;
    }
    .t6{
        font-size: 80%;
        text-align: center;
    }}
/*-------------------------MQ CHICA-------------------*/
@media screen and (max-width: 576px){
    h1{
        font-family: 'Kalnia', serif;
        font-size: 200%;
        text-align: center;
    }
    .catalogo img{
    margin: 25px 0 0 10%;
    width: 80%;
    height: auto;
    border-radius: 50px;
    }
    .texto{
    width: 100%;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    }
    .t1{
        font-size: 100%;
        text-align: center;
    }
    .t2{
        display: inline;
        padding: 5px;
        font-size: 100%;
        background: rgb(128, 128, 128, 0.5);
        color: white;
        border-radius: 50px;
    }
    .t3{
        font-size: 80%;
    }
    .t4{
        font-size: 80%;
    }
    .t5{
        float: none;
        margin-left: 39%;
        margin-right: 44%;
        padding: 10px;
        font-size: 120%;
        background: #757CA7;
        color: white;
        border-radius: 50px;
    }
    .t6{
        font-size: 80%;
        text-align: center;
    }}