@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
h1{
	background: #C98BA9;
	color: white;
	text-align: center;
	font-size: 500%;
	font-family: 'Kalnia', serif;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
}

.fondo {
    width: 100%;
    height: auto;
    background: black;
    font-family: 'Montserrat', sans-serif;
}
.catalogo{
	margin: 0 0px 0 150px;
	padding: 1em;
}
.catalogo img{
	margin: 10px;
	padding: 0px;
	transition: none;
	width: 40%;
	height: auto;
}
.catalogo img:hover{
	box-shadow: 2px 2px 2px 2px #C98BA9;
}
footer{
background-image: linear-gradient(to right bottom, #757ca7, #867eab, #9781ad, #a883ad, #b786ac, #c588aa, #d28ba7, #de8fa2, #eb939a, #f59991, #fba187, #feaa7d);

}