@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
h1{
	background: #C98BA9;
	color: white;
	text-align: center;
	font-size: 500%;
	font-family: 'Kalnia', serif;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
}

.fondo {
    width: 100%;
    height: auto;
    background: black;
    font-family: 'Montserrat', sans-serif;
}
.catalogo{
	margin: 0 0px 0 150px;
	padding: 1em;
}
.catalogo img{
	padding: 2em;
	transition: none;
	width: 25%;
	height: auto;
}
.catalogo img:hover{
	width: 28%;
	height: auto;
	box-shadow: 2px 1px 1px 2px #C98BA9;
}