
/*-----------------------------Contactos-------------------------------*/

/* Barra de navegación */
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.logo {
    display: flex;
}
.logo img{
    width: 15%;
    height: auto;
}



/* Menú */
ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

li {
    display: inline; 
    margin: 5px 0;
}

li a {
    font-size: 100%;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: inline;
}

li a:hover {
    background-color: white;
    color: #757CA7;
    border-radius: 50px;
}

.cart-img {
    width: 25px;
    height: 25px;
    margin: 2px;
}
/*MQ de barra para disp chicos y medianos*/
@media screen and (max-width:1000px){
    .logo{
        display: none;
    }
}