
@media screen and (max-width: 576px){
/*------------------------------------frases-------------------------------------*/
    .fra{
        background-color: black;
        color: white;
        padding: 1em;
        text-align: center;
    }
/*--------------------------------finFrases-----------------------------------*/

/*-----------------------------bannerPrincipal-------------------------------*/
    .banner1{
    display: inline-block;
    margin: 10px;
    }

    .sunset{
    width: 80%;
    height: 80%;
    margin: 40px;
}

.palmeras{
    display: none;
}
/*-----------------------------finBannerPrincipal-------------------------------*/
h1{
    padding: 17px;
    font-size: 150%;
    text-align: center;
}


/*-----------------------------Carrusel----------------------------*/

    .slider input{
    visibility: hidden;
    display: none;
    }
    .bottons{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0%;
        gap: 57px;
    }
    .bottons label{
        width: 20px;
        height: 20px;
        background-color: #FEAA7D;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
        z-index: 1;
        transition: 300ms ease-in-out;
    }
    .bottons label:hover{
        scale: 1.2;
        opacity: 1;
    }

    .slider input:nth-child(1):checked ~ .bottons label:nth-child(1), 
    .slider input:nth-child(2):checked ~ .bottons label:nth-child(2),
    .slider input:nth-child(3):checked ~ .bottons label:nth-child(3){
        opacity: 1;
        scroll-margin: 1.2;
        width: 40px;
    }

    .content{
            position: relative;
            overflow: hidden;
            display: flex;
            flex-wrap: nowrap;
            width: 300vw;
            height: 380px;
            border: none;
            transition: 400ms ease-in-out;
        }
    
    .slide{
        position: relative;
        padding: 20px;
        width: 90%;
        height: 28vh;
        display: block;
    }


    .slider input:nth-child(1):checked ~ .content{
        left: 0;
    }
    .slider input:nth-child(2):checked ~ .content{
        left: -100vw;
    }
    .slider input:nth-child(3):checked ~ .content{
        left: -200vw;
    }
    .content img{
        padding: 2px;
        margin: 2px;
        width: 80%;
        height: auto;
        display: block;
    }
        .container, .slider{
            height: 420px;
        }
        
        .text{
            display: block;
        color: black;
        text-align: center;
        padding: 2px;
        width: 100%;
        height: 28vh;
        border-left: none;
        }
        .content .text .pone{
        margin: 20px;
        font-size: 100%;
        text-align: justify;
        }
        .content .text .ptw{
            margin: -16px;
            font-size: 90%;
            text-align: center;
        }
        .content .text .pth{
            margin: 5px;
            font-size: 80%;
            text-align: center;
        }
    
/*-----------------------------finCarrusel----------------------------*/

/*-----------------------------Catalogo-------------------------------*/

    .catalogo{
        overflow: hidden;
        display: flex;

    }
    .catalogo{
        overflow: hidden;
        display: inline;
        margin: 40px;
    }
    .bann{
        padding: 0em 0em 0em 5em;
    }
    .bann img{
    width: 80%;
    height: auto;
    transition: none;
}
/*-----------------------------finCatalogo-------------------------------*/
} /*cierre de MQ*/