@media screen and (min-width: 576px) and (max-width: 1000px){
	/*-----------------------------bannerPrincipal-------------------------------*/
    .banner1{
    display: block;
    position: relative;
    margin: 0px;
    }

    .sunset{
    width: 80%;
    height: 80%;
    margin: auto;
}

.palmeras{
    display: none;
}
/*-----------------------------finBannerPrincipal-------------------------------*/
/*------------------------------------frases-------------------------------------*/
.fra{
    padding: 0.5cm;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}
/*--------------------------------finFrases-----------------------------------*/
/*Frase: Nuevos ingresos y Catálogo*/
h1{
    padding: 10px;
    font-size: 50px;
    text-align: center;
}
/*-----------------------------Carrusel----------------------------*/
.slider input{
    visibility: hidden;
    display: none;
    }
    .bottons{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
	    bottom: -169px;
    	gap: 64px;
    }
    .bottons label{
        width: 20px;
        height: 20px;
        background-color: #FEAA7D;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
        z-index: 1;
        transition: 300ms ease-in-out;
    }
    .bottons label:hover{
        scale: 1.2;
        opacity: 1;
    }

    .slider input:nth-child(1):checked ~ .bottons label:nth-child(1), 
    .slider input:nth-child(2):checked ~ .bottons label:nth-child(2),
    .slider input:nth-child(3):checked ~ .bottons label:nth-child(3){
        opacity: 1;
        scroll-margin: 1.2;
        width: 40px;
    }

    .content{
        position: relative;
        width: 290vw;
        height: 320px;
        display: flex;
        transition: 400ms ease-in-out;
    }

    .slide{
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
    }


    .slider input:nth-child(1):checked ~ .content{
        left: 0;
    }
    .slider input:nth-child(2):checked ~ .content{
        left: -100vw;
    }
    .slider input:nth-child(3):checked ~ .content{
        left: -200vw;
    }
    .content img{
        display: flex;
        width: 80%;
        height: 80%;
        overflow: hidden;
    }
        .container{
            height: 370px;
        }

        .text{
        color: black;
        margin: 5px;
        padding: 0;
        height: 28vh;
        border-left: none;
        }
        .content .text .pone{
        margin: 20px;
        font-size: 20px;
        text-align: left;
        }
        .content .text .ptw{
            margin: -16px;
            font-size: 30px;
            text-align: center;
        }
        .content .text .pth{
            margin: 5px;
            font-size: 10px;
            text-align: center;
        }
/*-----------------------------finCarrusel----------------------------*/
/*-----------------------------Catalogo-------------------------------*/
    .bann img{
    width: 80%;
    height: auto;
    transition: none;
}
.bann{
        padding: 0em 0em 0em 5em;
    }
/*-----------------------------finCatalogo-------------------------------*/
}/**finMQ*/