@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Estilos generales*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 1001px){

/*Portada*/
.banner1{
    display: flex;
    justify-content: space-evenly;
}

.sunset{
    width: 30%;
    height: 30%;
    margin: 90px;
}

.palmeras{
    width: 30%;
    height: 30%;
    margin: 5px;
}

/*Frase 1*/
.fra{
    padding: 0.5cm;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
}

/*Frase: Nuevos ingresos y Catálogo*/
h1{
    padding: 20px;
    font-size: 70px;
    text-align: center;
}

/*Carruserl*/
.slider{
    margin: 0;
    width: 100%;
    height: 700px;
}
.slider input{
    display: none;
}
.slide{
    margin: 0;
    padding: 1em;
}
.content{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

.img img{
    margin: 1em;
    padding: 1em;
    width: 500px;
    height: 500px;
    transition: 300ms ease-in-out;;
}
.img img:hover{

    box-shadow: 2px 2px 2px 2px #C8A4C0;
}
/*Textos del carrusel*/
.text{
    display: block;
    color: black;
    padding: 10px;
    height: 142px;
    text-align: center;
}
.content .text .pone{
    font-size: 25px;
}
.content .text .ptw{
    font-size: 20px;
    font-weight: bold;
    color:black;
    letter-spacing: 5px;
}
.content .text .pth{
    font-size: 15px;
    font-weight: 100;
}

}/*cierre de MQ*/

/*Catálogo*/
.catalogo{
    overflow: hidden;
    display: flex;

}
.bann{
    margin: 1em;
    padding: 1em;
}
.bann img{
    width: 80%;
    height: auto;
    transition: none;
}
 .bann img:hover{
    width: 85%;
    height: auto;
    transition: 800ms ease-in-out;
 }

#contactos, .Contactos{
    background-image: linear-gradient(to right bottom, #757ca7, #8783ad, #978ab2, #a791b7, #b699bb, #c49bbc, #d19ebb, #dea1b9, #eda0ae, #f8a1a0, #fea48f, #feaa7d);

}
 
